on:
    issues:
        type: [opened, edited, labeled]

jobs:
    jbang:
      runs-on: ubuntu-latest
      name: auto label
      steps:
#      - name: Debug Action
#        uses: hmarr/debug-action@v1.0.0
      - name: jbang
        uses: jbangdev/jbang-action@v0.35.0
        with:
          script: properties@jbangdev
             args: ""
          env:
            JBANG_REPO: /root/.jbang/repository
            GITHUB_TOKEN: ${{ secrets.ISSUE_GITHUB_TOKEN }}
      - name: epicmaker
        uses: docker://maxandersen/jbang-epic-maker
        env:
          GITHUB_TOKEN: ${{ secrets.ISSUE_GITHUB_TOKEN }}
          BOTNAME: maxandersen
