on:
    issues:
        type: [opened]

jobs:
    jbang:
      runs-on: ubuntu-latest
      name: auto label
      steps:
      - name: Debug Action
        uses: hmarr/debug-action@v1.0.0
#      - name: issuelabeler
#        uses: docker://maxandersen/jbang-issuelabeler
#        env:
#          GITHUB_TOKEN: ${{ secrets.ISSUE_GITHUB_TOKEN }}
#          CONFIG: https://raw.githubusercontent.com/maxandersen/githubaction-testinggrounds/master/.github/autoissuelabeler.yml
      - name: epicmaker
        uses: docker://maxandersen/jbang-epic-maker
        env:
          GITHUB_TOKEN: ${{ secrets.ISSUE_GITHUB_TOKEN }}

